*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    transition: background 2s;
    font-family: 'Oxygen', sans-serif;
}

:root {
    --text-color:black;
    --bg-tsk:aliceblue;
}

button{
    cursor: pointer;
}

#change{
    color: white;
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: transparent;
    margin: 10px;
    margin-bottom: 0px;
    border-color: white;
}

.container {
    background-color: var(--bg-tsk);
    height: 30%;
    margin: 10%;
    margin-top: 20px;
    display: flex;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

.container h2{
    margin-top: 10px;
    color: var(--text-color);
    background-color: transparent;
    font-weight: 700;
    font-size: 100px;
}

.container input{
    border-color: black;
    color:var(--text-color);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border-bottom: white;
    background-color: transparent;
    border-color: var(--text-color);
    width: 300px;
}

.container button{
    color: white;
    padding: 10px;
    border-radius: 5px;
    
}
.filters{
    display: block;
    margin-top: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.filters-buttons{
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
}

.filters-buttons.selected{
    color : black;
    background-color:white;
    scale: 1.15;
    transition: 1s;
}


.actions{
    background-color: var(--bg-tsk);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.tasks{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tasks ul {
    background-color: transparent;
}

.lista{
    margin-top: 50px;
    background-color: var(--bg-tsk);
    color: white;
    padding: 20px;
    min-height: 90px;
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    max-width: 300px;
    animation: fadeinout 1s linear 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.lista p{
    background-color: transparent;
}

.buttonEdit{
    width: 20px;
    display: flex;
    margin-top: 5px;
    background-color: transparent;
    align-items: flex-end;
    animation:   1s linear 1;
}

.buttonEdit button{
    border-color: transparent;
    margin-left: 5px;
}

#edit{
    background-color: mediumblue;
}

#edit:hover {
    box-shadow: 0 10px #666;
    transform: translateY(-3px);
    transition: 0.5s;
  }
  
#edit:active {
    box-shadow: 0 2px #666;
    transform: translateY(-1px);
    transition: 0.3s;
  }

#delete{
    background-color: red;
}

#delete:hover {
    box-shadow: 0 10px #666;
    transform: translateY(-3px);
    transition: 0.5s;
  }
  
#delete:active {
    box-shadow: 0 2px #666;
    transform: translateY(-1px);
    transition: 0.3s;
  }


.complete{
    background-color: green;
}

.complete:hover {
    box-shadow: 0 10px #666;
    transform: translateY(-3px);
    transition: 0.5s;
  }
  
.complete:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(-1px);
    transition: 0.3s;
  }



@media (max-width:500px) {
    .container {width: 100vw;display: flex;flex-direction: column;margin: 0px;margin-top: 3vh}
    .lista {min-width: 90vw; max-width: 90vw;}
    }







@keyframes fadeinout {
    0% {
      opacity: 0;
    }
    10%{
        opacity: 0;
    }

    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  